.newcard{
    background:#f0e9e9 !important;
    border-radius: 10px;
    height: fit-content;
    margin-left: 30px;
    width: 95% !important;

}

.button:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}


.headingText{
  color:blue !important;
}

.buttonBlue{
  margin-top:15px;
  width:90%;
  border-radius: 10px;
  border-color:blue;
}

.buttonRed{
  margin-top:15px;
  width:90%;
  border-radius: 10px;
  border-color:red;
}

.buttonGreen{
  margin-top:15px;
  width:90%;
  border-radius: 10px;
  border-color:green;
}

.search-container{
    margin-left: 20px;
}

.createForm{
    width: 90%;
    margin-left: 50px;
}

.wrapper {
    text-align: center;
    margin-top: 100px;
}

.align-middle {
    position: absolute;
}