body{
    background: radial-gradient(#E5E4E2,#ffffff,#E5E4E2);

}

.card{
    width: 12rem !important;
    height: 20rem !important;

    margin-bottom: 25px;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
    padding: 3rem -15rem !important;
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.8);
}

.btn1{
    margin: 4px;

}

.container-fluid{
    padding-left: 20px !important;
    padding-right: 10px !important;
}