body{
    background: radial-gradient(#E5E4E2,#ffffff,#E5E4E2);
}

h2{
    font-family: BlinkMacSystemFont;
    padding-left: 27rem;
    textAlign: center;
    color: darkgreen;
    font-size: 65px !important;
}

.card{
    width: 20rem;
    height: 25rem;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.card-body{
    padding: 2rem 0 !important;
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid{

    padding: 5rem 6rem 7rem 7rem;

}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.8);
}

.images {

}